@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-1:#22343d;
  --color-2:#173A56;
  --body-color: #fff;
  --primary-color: #fff;
  --text-color: #111517;
  /* --bg-img-dark: url('../imgs/moon-regular-24.png'); */
  --box-bg-color: #ff0;
  --placeholder-color: #848484;
  --backgraung-color:#fff;
}
.dark {
  --color-1:#fff;
  --color-2:#fff;
  --body-color:#1F2E35;
  --primary-color: #2B3844;
  --text-color: #fff;
  /* --bg-img-dark: url('../imgs/sun-regular-24.png'); */
  --placeholder-color: #fff;
  --backgraung-color:#2B3844;
}



body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--backgraung-color)
}

.header {
  padding: 23px 0;
  position: relative;
}
.header__sitelogo {
  width: 178px;
  height: 40px;
}
.header__list {
 display: flex;
 flex-direction: row;
}

.header__product {
  color:var(--color-1);
  width: 122px;
  height: 28px;
  margin: -20 0 0 -40p;
}

.active {
  font-weight: 600;
}
.sign {
  padding: 10px 23px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
.header__item {
  list-style-type: none;
  margin-left: 24px;
}
.header__link {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-1);
}

.btnheader {
  padding: 10px 23px;
  background-color: #02897A;
  border-radius: 4px;
  color: var(--color-1);
  font-weight: 600;
}

.bxs-adjust {
 font-size: 30px;
}

.menu__btn {
  border: none;
  /* padding: 15px; */
  display: none;
}

.bx-menu {
  font-size: 30px;
}

.bx-x {
  position: absolute;
  top: 30px;
  right: 0px;
  font-size: 30px;
  color: var(--color-1);
}

.hero> div {
  width: 50%; 
  padding-top: 25px;
}

.hero__title {
  width: 518px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-1);
  margin-bottom: 18px;
}
.hero__text {
  width: 448px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-1);
  margin-bottom: 45px;
}

.hero__link {
  padding: 15px 40px;
  background: #02897A;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-1);
  text-decoration: none;
  display: inline-block;
}
.hero__active {
  display: inline-block;
  color: #02897A;
  font-weight: 600;
}
.bx-play {
  position: relative;
  font-size: 28px;
  left: 0;
  top: 5px;
}

.show {
  display: block;
}
  
.main {
  /* padding-top: 150px; */
}

.main__title {
  width: 529px;
  margin: auto;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--color-1);
  margin-bottom: 56px;
}

.main__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main__item {
  list-style-type: none;
  width: 200px;
}
.main__img {
  margin-bottom: 30px;
}

.main__itemtitle {
  margin-bottom: 13px;
}
.main__link {
  text-align: center;
  margin-top: 60px;
}
.doucument >div {
  width: 50%;
  padding-top: 150px;
}

.document__validation {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin-bottom: 8px;
}

.document__title {
  margin-bottom: 131px;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
}

.document__maker {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #22343D;
}
.document__text {
  width: 486px;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 25px;
}
.document__desc {


}
.document__img {
}

@media screen and (max-width: 930px) {

  .hero> div{
    width: 100%;
  }

  .menu__btn {
   display: block;
   background-color: white;
  }
  .header__list {
    position: fixed;
    top: 0;
    right: -15px;
    width: 50vw;
    height: 100vh;
    background-color: rgba(3, 2, 2, 0.507);
    flex-direction: column;
    text-align: start;
    padding: 40px 0 0;
    display: none;
  }
  .header__item {
    margin-bottom: 25px;
  }
  .bx-x {
    display: block;
    z-index: 1000;
    top: 40px;
    right: 45px;
  }

  .hero {
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }

  .hero__title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .hero__text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;  
  }

  .hero__img {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .hero__links {
    padding-left: 50px;
    width: 50%;
    margin: 0 auto;
  } 
  .main__list {
    width: 100%;
  }
  .main__item {
    width: 33%;
  }
}


@media screen and (max-width: 720px) {

  .main__title {
    width: 100%;
  }
  .main__list {
    width: 100%;
    flex-direction: column;
    text-align: center;
    flex-flow: wrap;
  }
  .main__item {
    width: 50%;
  }
  .doucument {
  flex-direction: column-reverse;
  }
  .document__img {
    margin-left: 55px;
    /* margin: 0 auto; */
  }

}

@media screen and (max-width: 576px) {

  .main__title {
    width: 100%;
  }
  .main__list {
    width: 100%;
    flex-direction: column;
    text-align: center;
    flex-flow: wrap;
  }
  .main__item {
    width: 100%;
  }
  .document__img {
    margin: 0;
  }


}