@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --mainbkg:linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
  --buttonbkg:#02897A;
  --color-1:#22343d;
  --color-2:#173A56;
  --body-color: #fff;
  --primary-color: #fff;
  --text-color: #111517;
  /* --bg-img-dark: url('../imgs/moon-regular-24.png'); */
  --box-bg-color: #ff0;
  --placeholder-color: #848484;
  --backgraung-color:#fff;
  --button:#02897A;
  --white: #fff;
}
.dark {
  --mainbkg:#2B3844;
  --buttonbkg: #fff;
  --color-1:#fff;
  --color-2:#fff;
  --body-color:#1F2E35;
  --primary-color: #2B3844;
  --text-color: #fff;
  /* --bg-img-dark: url('../imgs/sun-regular-24.png'); */
  --placeholder-color: #fff;
  --backgraung-color:#2B3844;
  --button:#fff;
  --white: #fff;
}



body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--backgraung-color)
}

.header {
  padding: 23px 0;
  position: relative;
}
.header__sitelogo {
  width: 178px;
  height: 40px;
}
.header__list {
 display: flex;
 flex-direction: row;
}

.header__product {
  color:var(--color-1);
  width: 122px;
  height: 28px;
  margin: -20 0 0 -40p;
}

.active {
  font-weight: 600;
}
.sign {
  padding: 10px 23px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
.header__item {
  list-style-type: none;
  margin-left: 24px;
}
.header__link {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-1);
}

.btnheader {
  padding: 10px 23px;
  background-color: #02897A;
  border-radius: 4px;
  color: var(--white);
  font-weight: 600;
}

.bxs-adjust {
 font-size: 30px;
}

.menu__btn {
  border: none;
  display: none;
}

.bx-menu {
  font-size: 30px;
}

.bx-x {
  position: absolute;
  top: 30px;
  right: 0px;
  font-size: 30px;
  color: var(--color-1);
}

.hero> div {
  width: 50%; 
  padding-top: 25px;
}

.hero__title {
  width: 518px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-1);
  margin-bottom: 18px;
}
.hero__text {
  width: 448px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-1);
  margin-bottom: 45px;
}

.hero__link {
  padding: 15px 40px;
  background: #02897A;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-1);
  text-decoration: none;
  display: inline-block;
}
.hero__active {
  display: inline-block;
  color: #02897A;
  font-weight: 600;
}
.bx-play {
  position: relative;
  font-size: 28px;
  left: 0;
  top: 5px;
}

.show {
  display: block;
}

.main__title {
  width: 529px;
  margin: auto;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--color-1);
  margin-bottom: 56px;
}

.main__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main__item {
  list-style-type: none;
  width: 200px;
}
.main__img {
  margin-bottom: 30px;
}

.main__itemtitle {
  margin-bottom: 13px;
  color: var(--color-1);
}

.main__itemtext {
  color: var(--color-1);
}
.main__link {
  text-align: center;
  margin-top: 60px;
}
.doucument >div {
  width: 50%;
  padding-top: 150px;
  margin-bottom: 150px;
}

.document__validation {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-1);
  margin-bottom: 8px;
}

.document__title {
  margin-bottom: 131px;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-1)
}

.document__maker {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-1);
}
.document__text {
  width: 486px;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-1);
  margin-bottom: 25px;
}


.customer >div {
  width: 45%;
}

.customer__easier {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-1);
  margin-bottom: 8px;
}
.customer__support {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-1);
  margin-bottom: 23px;
}
.customer__description {
  font-size: 16px;
  line-height: 26px;
  color: var(--color-1);
  margin-bottom: 30px;
}
.customer__text {
  font-weight: normal;
  font-size: 16px;
  color: var(--color-1);
  margin-bottom: 30px;
}
.customer__text::before {
  position: relative;
  content: '';
  background-image: url(img/ptichka.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
  top: 10px;
  padding-left: 30px;
}

.document__collabrative {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-1);
}

.process__title {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--color-1);
  margin-bottom: 16px;
}

.process__text {
  width: 542px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--color-1);
  margin: 0 auto;
  margin-bottom: 32px;
}

.user__info {
  margin-right: 41px;
  color: var(--color-1);
}
.user__info:nth-last-child(1) {
  margin-left: 41px;
}

.user {
  margin-bottom: 38px;
}
.user__images{
  width: 98px;
  height: 98px;
}
.user__block{
  align-items: center;
}


.user__link {
  margin-top: 50px;
  background: #02897A;
  border-radius: 4px;
  color: var(--color-1);
  padding: 15px 31px;
  text-decoration: none;
  
}
.contact {
  margin-bottom: 150px;
}

.contact__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 8px;
  color: var(--color-1);
}

.contact__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 33px;
  color: var(--color-1);
}

.contact__item {
  list-style-type: none;
  width: 348px;
  background: #fff;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 5px;
}
.contact__img {
  width: 348px;
  height: 186px;
}
.contact__textpart {
  padding: 24px 30px 40px;
}
.contact__desctitle {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}
.contact__desc{
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}

.price__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  color: var(--color-1);
  padding-top: 150px;
  margin-bottom: 8px;
}
.price__text {
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-1);
}

.price__item {
  text-align: center;
  list-style-type: none;
  background: var(--white);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 322px;
  height: 456px;
  margin-bottom: 150px;
  color: #22343D;
}

.table__title {
  font-size: 24px;
  margin: 24px 0px 8px;
}
.table__desc {
  font-size: 16px;
  margin-bottom: 16px;
}

.table__cost {
  font-weight: bold;
  font-size: 76px;
  color: #02897A;
}
.table__months {
  font-size: 16px;
  margin-bottom: 40px;
}
.table__text {
  font-size: 16px;
  margin-bottom: 16px; 
}

.table__link {
  position: relative;
  padding: 11px 19px;
  color: #fff;
  background: #02897A;
  border-radius: 8px;
  text-decoration: none;
  top:50px
  
}

.table-active {
  width: 322.65px;
  height: 456px;
  background: #02897A;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.table__title-active {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  margin: 24px 0px 8px;
}
.table__desc-active {
  font-size: 16px;
  margin-bottom: 16px;
  color: #fff;
}
.table__cost-active {
  font-weight: bold;
  font-size: 76px;
  color: #fff;
}
.table__months-active {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}
.table__text-active {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 16px; 
}
.table__link-active {
  position: relative;
  padding: 11px 19px;
  color: #02897A;
  background-color: #fff;
  border-radius: 8px;
  text-decoration: none;
  top:50px
}

.client__title {
  text-align: center;
  font-size: 34px;
  line-height: 57px;
  color: var(--color-1);
  margin-bottom: 8px;
}
.client__text {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-1);
}

.client__item {
  width: 327px;
  height: 236px;
  background-color: var(--white);
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 28px;
  list-style-type: none;
}
.client__star {
  margin-bottom: 16px;
}

.client__desc {
  color: #737373;
  margin-bottom: 17px;
}
.client__image {
  width: 50px;
  height: 50px;
}
.client__name {
  font-size: 16px;
  color: #02897A;
  margin-left: 20px;
}

.product {
  margin-top: 157px;
  max-width: 90vw;
  background: #02897A;
  border-radius: 32px;
  margin-bottom: 200px;
}

.product__titlepart {
  padding: 49px 20px 0 51px;
}
.product__title {
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-color);
  max-width: 30vw;
  margin-bottom: 50px;
}
.product__link {
  padding: 13px 35px 7px;
  font-size: 20px;
  color: #02897A;
  background: var(--button);
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}
.footer__item{
  width: 18vw;
  flex-direction: column;
  display: flex;
  list-style-type: none;
}

.footer__linktitle {
  font-weight: bold;
  font-size: 20px;
  color: var(--color-1);
  line-height: 30px;
  margin-bottom: 10px;
  text-decoration: none;
}
.footer__link {
  text-decoration: none;   
  font-size: 16px;
  line-height: 35px;
  color: var(--color-1);
  
}
.footer__text {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-1);
  margin-bottom: 33px;
}

.footer__input {
  padding: 10px;
  margin-bottom: 20px;
  background: var(--backgraung-color);
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  overflow: hidden;
  
}
.footer__sign {
  display: inline-block;
  padding: 10px 15px;
  background: #02897A;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 23px;
  
  
}

@media screen and (max-width: 930px) {

  .hero> div{
    width: 100%;
  }

  .menu__btn {
   display: block;
   background-color: var(--backgraung-color);
  }
  .header__list {
    position: fixed;
    top: 0;
    right: -15px;
    width: 50vw;
    height: 100vh;
    background-color: rgba(3, 2, 2, 0.507);
    flex-direction: column;
    text-align: start;
    padding: 40px 0 0;
    display: none;
  }
  .header__item {
    margin-bottom: 25px;
  }
  .bx-x {
    display: block;
    z-index: 1000;
    top: 40px;
    right: 45px;
  }

  .hero {
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }

  .hero__title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .hero__text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;  
  }

  .hero__img {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .hero__links {
    padding-left: 70px;
    width: 50%;
    margin: 0 auto;
  } 
  .main__list {
    width: 100%;
  }
  .main__item {
    width: 33%;
  }
  .doucument {
    flex-direction: column-reverse;
  }
  .document__img {
    width: 100vw;
    margin: 0 auto;
  }
  .doucument >div {
    /* width: 10%; */
    margin-bottom: 0;
  }
  .document__title {
    margin-bottom: 20px;
  }
  .customer {
    flex-direction: column;
  }
  .customer__img{
    padding-top: 97px;
    width: 100vw;
  }
  .customer__easier {
  }
  .customer__support {
    width: 100vw;
  }
  .customer__description {
    width: 80vw;
  }
  .customer__text {
    width: 80vw;
  }

  .contact__text {
    width: 100vw;
  }

  .contact__item {
    width: 30vw;
  }
  .contact__img {
    width: 30vw;
  }
  .price__item {
    margin-bottom: 50px;
  }
}














@media screen and (max-width: 720px) {
  .customer__text {
    width: 100vw;
  }
  
  .customer__description {
    width: 100vw;
  }

  .main__title {
    width: 100%;
  }
  .main__list {
    width: 100%;
    flex-direction: column;
    text-align: center;
    flex-flow: wrap;
  }
  .main__item {
    width: 50%;
    margin-bottom: 50px;
  }
  .doucument {
  flex-direction: column-reverse;
  }
  .document__img {
    min-width: 80vw;
    margin: 0 auto;
  }
  .customer {
    flex-direction: column;
  }
  .hero__links >div {
    width: 50vw;
    margin: 0 auto;
  }
  .document__collabrative {
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
    margin-bottom: 16px;
  }

  .user__block{
    flex-direction: row-reverse
  }
  .process__text {
    width: 100vw;
  }
  .contact__text {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact__title {
    text-align: center;
  }

  .contact__list {
    margin-left: 30px;
    display: flex;
  }
  
  .contact__item {
    width: 70vw;
    margin-bottom: 20px;
  }
  .contact__img {
    width: 70vw;
  }

  .price__item {
    margin-bottom: 50px;
  }

  .universiti {
    flex-direction: column;
  }
  .universiti__img {
    max-width: 80vw;
  }
  .our__list {
    width: 100vw;
    flex-direction: column;
    text-align: center;
    flex-flow: wrap;
  }
  .our__img {
    width: 25%;
    margin: 20px;
  }
  .choose__list {
    flex-direction: column;
  }
  .choose__item {
    width: 23vw;
  }


}
















@media screen and (max-width: 576px) {

  .main__title {
    width: 100%;
  }
  .main__list {
    width: 100%;
    flex-direction: column;
    text-align: center;
    flex-flow: wrap;
  }
  .main__item {
    width: 100%;
  }
  .document__img {
    width: 80vw;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .doucument > div {
    padding: 0;
  }
  .main__link {
    margin-bottom: 95px;
  }
  .document__title {
   margin-bottom: 16px;
  }
  .document__text {
   width: 100vw;
  }
  .document__desc{
    width: 100vw;
  }
  .customer__description {
    width: 100vw;
  }
  .contact__item {
    width: 80vw;
  }

  .contact__img {
    width: 80vw;
  }
  .customer__text {
    width: 100vw;
  }
  .hero__links {
    width: 50vw;
    padding: 0;
    margin: 0 auto;
  }
  .price__list {
    padding-left: 50px;
    text-align: center;
  } 
  .price__item {
    margin-bottom: 20px;
  }
  .client__list {
    padding-left: 50px;
  }
  .client__item{
    margin-bottom: 20px;
  }
  .product {
    margin-bottom: 30px;
  }
  .product__title {
    text-align: center;
    max-width: 50vw;
  }
  .product__img {
    padding-right: 50px;
    max-width: 351px;
  }
  .product__link {
    text-align: center;
    margin-left: 30px;
  }

  .product__block{
    margin-left: 50px;
  }

  .social {
    text-align: center;
    margin-left: 90px;
  }
  .footer__list {
    text-align: center;
    padding-left: 50px;
  }
  .footer__item{
    width: 80vw;
    margin-bottom: 20px;
  }

}